<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title>CISWP Internal</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <script type="text/javascript" src="/js/form.js"></script>
   <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
   <header>
      <h1>CISWP Internal</h1>
      <img src="images/ciswp-logo.png" alt="CISWP">
   </header>


   <nav>
      <a href="/">News</a>
      <a href="/addnews">Add News</a>
      <a href="/pubs">Pubs</a>
      <a href="/addpubs">Add Pubs</a>
      <a href="/webinars">Webinars</a>
      <a href="/addwebinars">Add Webinars</a>

   </nav>