<%- include('includes/header.ejs') %>
   <!-- Checking if contact is defined before rending -->
   <main>
      <h1>Deleted a record</h1>

      <button><a href="/news">Close</a></button>

   </main>


   <%- include('includes/footer.ejs') %>